{% extends embed ? 'partials/nothing.html.twig' : 'partials/base.html.twig' %}
{% block content %}
<section class="blogPost h-entry">
    <div class="title"><h2>Reply to: <a href="{{ page.header.link }}" class="u-in-reply-to">{{ page.header.title }}</a></h2></div>
    <div class="date"><a href="{{page.url}}" class="dt-published u-url u-uid">{{ page.header.date|date("Y-m-d") }}</a></div>
    <div class="content ">
    {{ page.content }}
    </div>
        </section>
{% endblock %}
