{% extends 'partials/base.html.twig' %}

{% block content %}
    <nav>
<dl>
    <h2>here</h2>
        {% for page in pages.children.visible %}
            {% if page.menu != 'justus.ws' %}
            <dt>
                <a href="{{ page.url }}">
                    {{ page.menu }}
                </a>
            </dt>
            <dd>{{ page.header.tagline }}</dd>
            {% endif %}
        {% endfor %}
</dl>
{% if page.header.elsewhere_links %}
    <dl>
    <h2>elsewhere:</h2>
    <dt class="p-name">justus grunow</dt>
    {% for link in page.header.elsewhere_links %}
        <dt><a href="{{ link.href }}" class="{{ link.class }}">{{ link.menu }}</a></dt>
            <dd>{{ link.tagline }}</dd>
    {% endfor %}
    </dl>
{% endif %}




    </nav>
    {{ page.content }}
{% endblock %}
